<table class="table table-bordered">
	<tbody>
		<tr>
			<th>City</th>
			<td><%=data[:city]%></td>
		</tr>

		<tr>
			<th>Time</th>
			<td><%=data[:time]%></td>
		</tr>

		<tr>
			<th>Feel Like</th>
			<td><%=data[:feel_like]%></td>
		</tr>

		<tr>
			<th>Humidity</th>
			<td><%=data[:humidity]%></td>
		</tr>

		<tr>
			<th>Pressure</th>
			<td><%=data[:pressure]%></td>
		</tr>

		<tr>
			<th>Temperature</th>
			<td><%=data[:temperature]%></td>
		</tr>

		<tr>
			<th>Max Temperature</th>
			<td><%=data[:max_temperature]%></td>
		</tr>

		<tr>
			<th>Min Temperature</th>
			<td><%=data[:min_temperature]%></td>
		</tr>
	</tbody>
</table>